In [1]:
!pip install numpy

Requirement already satisfied: numpy in /home/avcoe/anaconda3/lib/python3.13/site-packages (2.3.5)

In [2]:
pip install pandas

Requirement already satisfied: pandas in /home/avcoe/anaconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/avcoe/anaconda3/lib/python3.13/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/avcoe/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/avcoe/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/avcoe/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/avcoe/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import numpy as np
import pandas as pd
data = { "Roll-num": [10, 20, 30, 40, 50, 60, 70], "Age": [10, 11, 14, 16, 19, 20, 22], "Name": ['Aditya', 'Siddhi', 'Piyush', 'Vinit', 'Arya', 'Sai', 'Kunal'] }
block = pd.DataFrame(data)
print(block)
print(" ")
print("################################################################################")
print(" ")
a = block.loc[[0,2,3,5]]
print(a)
b = block.loc[0:3]
print(" ")
print("################################################################################")
print(" ")
c = block.loc[0:4, ['Name']]
print(c)

   Roll-num  Age    Name
0        10   10  Aditya
1        20   11  Siddhi
2        30   14  Piyush
3        40   16   Vinit
4        50   19    Arya
5        60   20     Sai
6        70   22   Kunal

################################################################################

   Roll-num  Age    Name
0        10   10  Aditya
2        30   14  Piyush
3        40   16   Vinit
5        60   20     Sai

################################################################################

     Name
0  Aditya
1  Siddhi
2  Piyush
3   Vinit
4    Arya